USE [master]
GO
/****** Object:  Database [HotelsDb]    Script Date: 6/14/2022 4:03:37 PM ******/
CREATE DATABASE [HotelsDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HotelsDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\HotelsDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HotelsDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\HotelsDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HotelsDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HotelsDb]
GO
/****** Object:  Table [dbo].[Hotels]    Script Date: 6/14/2022 4:03:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hotels](
	[Hotels_Id] [int] IDENTITY(1,1) NOT NULL,
	[Hotels_Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Hotels_1] PRIMARY KEY CLUSTERED 
(
	[Hotels_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rezervari]    Script Date: 6/14/2022 4:03:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rezervari](
	[Rezervari_Id] [int] IDENTITY(1,1) NOT NULL,
	[Rezervari_Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Rezervari] PRIMARY KEY CLUSTERED 
(
	[Rezervari_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 6/14/2022 4:03:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Users_Id] [int] IDENTITY(1,1) NOT NULL,
	[Users_Name] [nvarchar](50) NOT NULL,
	[Users_Password] [nvarchar](50) NOT NULL,
	[Users_Role] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Users_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
